:root,
::before,
::after {
    /*   COLOR BACKGROUND   */
    --color-bg-h: 213deg;
    --color-bg-s: 5%;
    --color-bg-l: 95%;
    --color-bg: hsl(var(--color-bg-h) var(--color-bg-s) var(--color-bg-l) / 100%);

    /*   COLOR TEXT   */
    --color-text-h: 207deg;
    --color-text-s: 11%;
    --color-text-l: 16%;
    --color-text: hsl(var(--color-text-h) var(--color-text-s) var(--color-text-l) / 100%);

    /*   COLOR SURFACE   */
    --color-surface-h: 0deg;
    --color-surface-s: 100%;
    --color-surface-l: 99%;
    --color-surface: hsl(var(--color-surface-h) var(--color-surface-s) var(--color-surface-l) / 100%);

    /*   COLOR PRIMARY   */
    --color-primary-h: 201deg;
    --color-primary-s: 98%;
    --color-primary-l: 41%;
    --color-primary: hsl(var(--color-primary-h) var(--color-primary-s) var(--color-primary-l) / 100%);

    /*   COLOR PRIMARY LIGHT   */
    --color-primary-light-h: 201deg;
    --color-primary-light-s: 98%;
    --color-primary-light-l: 75%;
    --color-primary-light: hsl(var(--color-primary-light-h) var(--color-primary-light-s) var(--color-primary-light-l) / 100%);

    /*   COLOR PRIMARY DARK   */
    --color-primary-dark-h: 201deg;
    --color-primary-dark-s: 60%;
    --color-primary-dark-l: 30%;
    --color-primary-dark: hsl(var(--color-primary-dark-h) var(--color-primary-dark-s) var(--color-primary-dark-l) / 100%);


    /*   COLOR SECONDARY   */
    --color-secondary-h: 350deg;
    --color-secondary-s: 60%;
    --color-secondary-l: 50%;
    --color-secondary: hsl(var(--color-secondary-h) var(--color-secondary-s) var(--color-secondary-l) / 100%);

    /*   COLOR SECONDARY LIGHT   */
    --color-secondary-light-h: 350deg;
    --color-secondary-light-s: 75%;
    --color-secondary-light-l: 70%;
    --color-secondary-light: hsl(var(--color-secondary-light-h) var(--color-secondary-light-s) var(--color-secondary-light-l) / 100%);


    /*   COLOR SECONDARY DARK   */
    --color-secondary-dark-h: 350deg;
    --color-secondary-dark-s: 75%;
    --color-secondary-dark-l: 35%;
    --color-secondary-dark: hsl(var(--color-secondary-dark-h) var(--color-secondary-dark-s) var(--color-secondary-dark-l) / 100%);

    /*   COLOR SUCCESS   */
    --color-success-h: 154deg;
    --color-success-s: 100%;
    --color-success-l: 36%;
    --color-success: hsl(var(--color-success-h) var(--color-success-s) var(--color-success-l) / 100%);

    /*   COLOR ERROR   */
    --color-error-h: 6deg;
    --color-error-s: 90%;
    --color-error-l: 49%;
    --color-error: hsl(var(--color-error-h) var(--color-error-s) var(--color-error-l) / 100%);

    /*   COLOR WARNING   */
    --color-warning-h: 24deg;
    --color-warning-s: 90%;
    --color-warning-l: 61%;
    --color-warning: hsl(var(--color-warning-h) var(--color-warning-s) var(--color-warning-l) / 100%);

    /*   COLOR INFO   */
    --color-info-h: 200deg;
    --color-info-s: 80%;
    --color-info-l: 75%;
    --color-info: hsl(var(--color-info-h) var(--color-info-s) var(--color-info-l) / 100%);
}